.product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.login {
  margin: 0 auto;
  border: 1px solid black;
  width: 50%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-text {
  color: rgb(137, 135, 135);
}

.signform {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
  align-items: center;
  padding: 20px;
}

.fa-heart {
  color: red;
}
